@model IEnumerable<DonationWebApp.Models.GoodsClass>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center;">Goods Donations Information</h1>

<p style="text-align:center;">
    <a asp-action="Create" class="btn btn-primary">Donate Goods</a>
    <a asp-controller="GoDis" asp-action="Index" class="btn btn-primary">Allocate Goods</a>
</p>
<table style="background-color:orangered;color:azure;" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfDonation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddNewCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionOfItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donor)
            </th>
            <th style="text-align:left;">
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfDonation)
                </td>
                <td style="text-align:center;">
                    @Html.DisplayFor(modelItem => item.NumberOfItems)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td style="text-align:center; text-transform:capitalize;">
                    @Html.DisplayFor(modelItem => item.AddNewCategory)
                </td>
                <td style="text-align:left;text-transform:capitalize;">
                    @Html.DisplayFor(modelItem => item.DescriptionOfItem)
                </td>
                <td style="text-align:left;text-transform:capitalize;">
                    @Html.DisplayFor(modelItem => item.Donor)
                </td>
            </tr>
        }
    </tbody>
</table>
Total Goods Donated:@Model.Sum(i => i.NumberOfItems)